<h1>Santi test angular redux typescript webpack</h1>
{{$ctrl.person}}
<form name="peopleForm">
  <input type="text" name="name" placeholder="name" id="name" ng-model="$ctrl.person.name">
  <input type="text" name="age" placeholder="leeftijd" id="age" ng-model="$ctrl.person.age">
  <button
    ng-click="$ctrl.addPerson($ctrl.person)"
  >
    Add Person to the state
  </button>
</form>

<button >Add place to the state</button>

<h1>Ctrl: {{$ctrl}}</h1>


<br><Br><br>

<p class="text" ng-repeat="person in $ctrl.people track by $index">
  {{person.name}} {{person.age}}
</p>
